body{
    background-size: cover;
}

.header{
    font-size: 30px;
    width: 100%;
    padding: 5px;
    box-shadow: 0 15px 30px rgba(255, 170, 170, 0.3);
    font-family: 'Lora', serif;
    margin: 0;
    border-radius: 0;
}

#family{
    font-size: 20px;
    font-family: 'Lora', serif;
    width: 65%;
    padding: 5px;
    border-radius: 5px;
}

#hint{
    font-size: 22px;
    font-family: 'Lora', serif;
    width: 30%;
}

#purpose{
    font-size: 25px;
    font-family: 'Lora', serif;
    color: navy;
    text-decoration: underline;
    text-shadow: 0.5px 0.5px rgb(134, 134, 252);
}

#details{
    margin-top: 20px;
    display: none;
}

#show_info{
    font-size: 20px;
    font-family: 'Lora', serif;
    border: 5px ridge;
}

.info{
    color: black;
    font-size: 23px;
    font-family: 'Lora', serif;
}

.pic{
    border: 5px solid black;
    display: block;
  margin-left: auto;
  margin-right: auto;

}

@media only screen and (max-width: 772px) {    
    #hint{
        width: 60%;
    }
    #family{
        width: 75%;
    }
    #details{
        width: 95%;
        text-align: center;
        white-space: pre-line;
    }
  }